@use "@/app/styles/variables.scss" as v;

.container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 20px;
}

.svg {
  width: 48px;
  height: 48px;
  display: flex;

  @media (prefers-color-scheme: dark) {
    svg {
      fill: var(--text-color);
    }
  }
}

.h1 {
  font-size: 48px;
  border-bottom: 1px solid var(--nav-text-color);
  @media #{v.$mobile} {
    font-size: 32px;
  }
}
