@use "@/app/_styles/variables.scss" as v;

.container {
  padding: 100px 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 50px 20px 0 20px;
}

.showMoreBtnWrapper {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.showMoreBtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: gray;
  &:hover {
    text-decoration: underline;
  }
}

.description {
  text-align: center;
}

.descriptionList {
  padding-top: 10px;
  li {
    padding-top: 5px;
    margin-left: 15px;
  }
}

.table {
  flex: 1;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 50px;
}

.row {
  display: flex;
  @media #{v.$mobile} {
    gap: 10px;
    flex-direction: column;
  }
}

.title {
  flex: 2.5;
  display: flex;
  gap: 10px;
  align-items: center;
  div {
    fill: var(--text-color);
    width: 30px;
    height: 30px;
  }
  h3 {
    font-size: 30px;
  }

  @media #{v.$mobile} {
    justify-content: center;
    div {
      width: 20px;
      height: 20px;
    }
    h1 {
      font-size: 20px;
    }
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex: 7.5;
  justify-content: center;
}
