@use "@/app/_styles/variables.scss" as v;

.container {
  @media #{v.$desktop} {
    .inner::after {
      content: "";
      flex: 1;
    }
    &:nth-child(odd) {
      .content {
        order: -1;
        text-align: right;
      }
    }
    &:nth-child(even) {
      .content {
        order: 2;
      }
      .lineContaier {
        order: 1;
      }
    }
  }
}

.inner {
  display: flex;
  &.active .dot {
    background-color: var(--text-color);
  }
  &.active .content {
    opacity: 1;
    top: 0px;
  }
}

.content {
  flex: 1;
  margin-bottom: 50px;
  opacity: 0;
  position: relative;
  top: 10px;
  transition: all 0.5s;
  h3 {
    font-size: 36px;
    @media #{v.$mobile} {
      font-size: 24px;
    }
  }
  small {
    color: var(--text-color-opacity-80p);
  }
  p {
    padding-top: 15px;
    white-space: pre-line;
  }
}

.lineContaier {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dot {
  margin: 15px;
  width: 15px;
  height: 15px;
  background-color: var(--text-color-opacity-20p);
  border-radius: 50%;
  transition: background-color 0.3s;
}
.line {
  flex: 1;
  width: 3px;
  background-color: var(--text-color-opacity-20p);
  // background: linear-gradient(to bottom, blue 10%, var(--text-color));
  // background-attachment: fixed;
}
