@use "../variables.scss" as v;

.nav {
  position: fixed;
  left: 0;
  @media #{v.$mobile} {
    bottom: 0px;
  }
  width: var(--nav-width);
  height: var(--nav-height);
}

.ul {
  display: flex;
  flex-direction: column;

  @media #{v.$mobile} {
    flex-direction: row;
    justify-content: space-around;
  }

  li {
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover .menu {
      background-color: rgb(231, 233, 234, 0.5);
    }

    @media #{v.$mobile} {
      height: 50px;
    }
  }
}

.menu {
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.svg {
  width: 30px;
  height: 30px;
  fill: var(--text-color);

  margin: 0 10px;

  svg {
    width: 30px;
    height: 30px;
  }
}

.title {
  font-size: 20px;
  line-height: 60px;
  padding: 0 20px 0 10px;

  @media #{v.$tablet} {
    display: none;
  }

  @media #{v.$mobile} {
    display: none;
  }
}
