@use "@/app/_styles/variables.scss" as v;

.container {
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  overflow-y: auto;
  background-color: var(--bg-color-opacity-50p);
  z-index: #{v.$z-modal};
  display: block;
}

.inner {
  background-color: var(--bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  @media #{v.$desktop} {
    box-shadow: 0 0 1px var(--text-color);
    margin: 50px calc((100% - 700px) / 2);
  }
  @media #{v.$mobile} {
    margin: 0;
    min-height: 100dvh;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.imgBox {
  height: 400px;
  background-color: darkcyan;
}
