@use "@/app/_styles/variables.scss" as v;

.container {
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  overflow-y: auto;
  background-color: var(--bg-color-opacity-50p);
  z-index: #{v.$z-modal};
  display: block;
}

.inner {
  background-color: var(--bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  @media #{v.$desktop} {
    box-shadow: 0 0 1px var(--text-color);
    margin: 50px calc((100% - 700px) / 2);
  }
  @media #{v.$mobile} {
    margin: 0;
    min-height: 100dvh;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 5px;
}

.title {
  font-size: clamp(10px, 10vw, 32px);
}

.close {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
  }
  &:hover {
    background-color: var(--text-color-opacity-20p);
  }
}

.imgBox {
  // height: 400px;
}

.img {
  height: 400px;
  img {
    object-fit: contain;
  }
}

.skills {
  display: flex;
  gap: 10px;
  padding: 5px;
  padding-top: 10px;
  flex-wrap: wrap;
}

.skill {
  border: solid 1px var(--text-color-opacity-90p);
  border-radius: 5px;
  padding: 5px;
}

.date {
  padding: 5px;
  color: var(--text-color-opacity-90p);
}

.headcount {
  color: var(--text-color-opacity-90p);
  padding: 5px;
}

.introduce {
  padding: 5px;
  white-space: pre-wrap;
  line-height: 1.5;
}
