@use "@/app/_styles/mixins.scss" as m;

.container {
  height: 100dvh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mainWrapper {
  padding-top: 72px;
  background: linear-gradient(
      var(--bg-color-opacity-90p),
      var(--bg-color-opacity-90p)
    ),
    url("/white.png") center/cover no-repeat;
  flex: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.mainH1s {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainName {
  font-size: clamp(10px, 20vw, 100px);
}

.mainTitle {
  font-size: clamp(10px, 7vw, 100px);
}
.mainHr {
  flex: 1;
  border: 1px solid var(--text-color-opacity-80p);
}
.mainIntroduce {
  flex: 2;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-align: center;
  font-size: clamp(10px, 3vw, 16px);
}

.contactWrapper {
  @include m.wd;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}

.contactContent {
  width: 100%;
  padding: 0 5%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
