.container {
  padding: 100px 0;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px 0 20px;
}

.inner {
  max-width: var(--max-width);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
