.container {
  padding: 100px 0;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px 0 20px;
}

.inner {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
}

.card {
  background-color: darkgreen;
  height: 400px;
  width: 300px;
  border: 1px solid black;
}
