@use "./variables" as v;

:root {
  --nav-width: 200px;
  --nav-height: 100dvh;
}

@media #{v.$tablet} {
  :root {
    --nav-width: 70px;
    --nav-height: 100dvh;
  }
}

@media #{v.$mobile} {
  :root {
    --nav-width: 100dvw;
    --nav-height: 50px;
  }
}

:root {
  --bg-color: white;
  --text-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --text-color: white;
  }
}

body {
  // font-family: Arial, Helvetica, sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  background: var(--bg-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
