.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.inner {
  flex: 1;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 10px 100px 10px;
  gap: 10px;
}
