.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 100px 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 50px 20px 0 20px;
}

.inner {
  flex: 1;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 10px;
  gap: 10px;
}
