@use "@/app/_styles/mixins.scss" as m;
@use "@/app/_styles/variables.scss" as v;

.container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 72px;
  transition: transform 0.3s ease;
  &.hide {
    transform: translateY(-100%);
  }
  &.show {
    transform: translateY(0);
  }
  z-index: #{v.$z-nav};
}

.navBG {
  background: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  @media (prefers-color-scheme: dark) {
    background: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5) 90%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.navWraper {
  @include m.wd;
  display: flex;
  justify-content: space-between;
  margin: 20px 24px;
  position: relative;
}

.logo {
  font-size: 24px;
  line-height: 32px;
}

.ul {
  list-style: none;
  display: flex;
  gap: 10px;
  @media #{v.$mobile} {
    flex-direction: column;
    position: absolute;
    top: 72px;
    right: 0;
    transition: all 0.3s;
    overflow: hidden;

    &.show {
      opacity: 1;
      height: 200px;
    }
    &.hide {
      opacity: 0;
      height: 0;
    }
  }
}

.li {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  padding: 0 16px;
  cursor: pointer;
  color: var(--text-color-opacity-80p);
  &:hover {
    color: var(--text-color);
  }
  @media #{v.$mobile} {
    padding-right: 6px;
    text-align: right;
    text-shadow: 2px 2px 2px var(--bg-color), 2px -2px 2px var(--bg-color),
      -2px 2px 2px var(--bg-color), -2px -2px 2px var(--bg-color),
      1px 1px 0 var(--bg-color), -1px 1px 0 var(--bg-color),
      1px -1px 0 var(--bg-color), -1px -1px 0 var(--bg-color);
  }
}

.menuBtn {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.lineBox {
  position: relative;
  height: 16px;
  width: 32px;
}

@mixin line {
  width: 100%;
  border-radius: 1.5px;
  height: 2px;
  background-color: var(--text-color-opacity-80p);
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
  &.open {
    @content;
  }
}
.top {
  top: 0;
  @include line {
    transform: rotate(45deg);
    top: 50%;
  }
}
.mid {
  top: 45%;
  @include line {
    opacity: 0;
  }
}
.bot {
  bottom: 0;
  @include line {
    transform: rotate(135deg);
    top: 50%;
  }
}

.up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  border: none;
  background-color: var(--text-color-opacity-10p);
  fill: var(--text-color-opacity-50p);
  z-index: #{v.$z-up};
  cursor: pointer;
  &:hover {
    background-color: var(--text-color-opacity-20p);
    fill: var(--text-color-opacity-80p);
  }
}
